<link rel="stylesheet" href="/css/_home.css">
<h1>
    CONNECTi / <%= title %>
</h1>

<section id="feed-posts">
    <h3>Posts</h3>
    <% if(locals.user){ %>
    <form action="/posts/create-post" id="new-post-form" method="post">
        <textarea name="content" cols="30" rows="3" placeholder="Type here ..."></textarea>
        <input type="submit" value="Post"/>
    </form>
    <% } %>

    <div id="posts-list-container">
        <ul id="ulist">
            <% for(post of posts){ %>

            <li>
                <%= post.content %>
                <br/>
                <%= post.user.name %>
            </li>
            <br/>

            <%} %>
        </ul>
    </div>
</section>