#home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

}

#left{
    width: 20%;
    height: 100%;
    border: 2px solid black;
}

#middle{
    width: 60%;
    height: 100%;
    border: 2px solid cyan;
    overflow-y: scroll;
}

#right{
    width: 20%;
    height: 100%;
    border: 2px solid black;
}

#ulist{
    display: flex;
    flex-direction: column;
}

#post-box{
    border: 2px solid red;
    width: 90%;
    height: 50vh;
}

.post-header{
    width: 100%;
    height: 15%;
}

.post-content{
    width: 100%;
    height: 55%;
    border: 2px solid black;
}

.post-footer{
    width: 100%;
    height: 30%;
    overflow-y: scroll;
}

#post-comments{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

#comment{
    width: 80%;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}